*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}


/* Navbar start*/
.navbar{
    width: 100%;
    height: 125px;
    padding: 5px;
    display: flex;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #def4ba 0%, white 100%);
    position: fixed;
    z-index: 1;
    box-shadow: 0px 0px 1px 0px black ;
}

    .logo{
        margin-top: 20px;
        margin-left: 30px;
    }

        .logo img{
            height: 80px;
            width: 190px;
            box-sizing: border-box;
        }

    .lists{
        display: flex;
        display: block;
        width: 100%;
        justify-content: space-between;
        font-weight: 600;
    }

        .list-1 {
            display: flex;
            border: 1px black solid;
            border: none;
            width: 900px;
            max-height: fit-content;
            max-width: fit-content;
            margin-left: 550px;
            margin-top: 10px;
        }

            .list-1 li{
                display: inline-block;
                padding: 10px;
                font-size: 16px;
            }

            .list-1 li>span{
                margin-left: 10px;
            }


            .list1-buttons{
                position: relative;
                margin-top: 10px;
            }

        button {
            background-color: #739930;
            padding: 5px;
            border: none;
        }

        #login-b{
            padding: 8px 28px;
            font-size: 14px;
            color: white;
            font-weight: bold;
        }

        #search-b{
            padding: 8px 8px;
            color: white;
            margin-left: 10px;
        }

        .list-2 {
            position: relative;
            display: flex;
            border: 1px black solid;
            border: none;
            width: 900px;
            max-width: fit-content;
            max-height: fit-content;
            margin-left: 500px;
            margin-top: 10px;
        }

            .list-2 li{
                display: inline-block;
                padding: 10px;
                color: #739930;
                font-size: 16px;
            }
/* Navbar end */


/* Moving text start*/
.mv-notifi{
    background-color: black;
    width: 100%;
    height: 70px;
    position: absolute;
    opacity: 0.5;
    display: flex;
    align-items: center;
    margin-top: 125px;
    text-align: center;
}

    .mv-notifi h3{
        color: yellow;
        font-size: 20px;
        position: relative;
        animation: moveHorizontally 10s linear infinite;
    }
/* Moving text end */


/* SH Video start*/
.sh-video video{
    width: 100%;
}
/* SH Video end */


/* Notifications start*/
.notifications{
    display: block;
}

    /* Notification grid 1x4 */
    .single-row{
        width: fit-content;
        display: grid;
        grid-template-rows: 50px;
        grid-template-columns: 150px 150px 150px 150px;
        margin: 70px 450px 70px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
    }

        .notifi{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            text-align: center;
            padding: 15px;
            border: 1px solid #739930;
            border-collapse: collapse;
            background-color: #739930;
            color: white;
        }

        .events{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 2;
            grid-column-end: 2;
            text-align: center;
            padding: 15px;
            border: 1px solid #739930;
            border-collapse: collapse;
        }

        .news{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 3;
            grid-column-end: 3;
            text-align: center;
            padding: 15px;
            border: 1px solid #739930;
            border-collapse: collapse;
        }

        .exam{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 4;
            grid-column-end: 4;
            text-align: center;
            padding: 15px;
            border: 1px solid #739930;
            border-collapse: collapse;
        }

    /* Notifications area */
    .notification-area{
        display: grid;
        grid-template-rows: 220px 220px 180px 220px 150px;
        grid-template-columns: 930px;
        width: fit-content;
        margin: 0px 280px 70px;
        border-collapse: collapse;
    }

        .notifi-rows{
            padding: 30px 70px;
            border: 1px solid black;
            border-top: none;
            border-right: none;
            border-left: none;
        }

        .notifi-rows h2{
            color: #739930;
        }

        .notifi-rows .content{
                margin-top: 20px;
                line-height: 25px;
                font-size: 14.4px;
            }

        #no1{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
        }

            #no1 a{
                color: royalblue;
                font-weight: bold;
            }

        #no2{
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;
        }

        #no3{
            grid-row-start: 3;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 1;
        }

        #no4{
            grid-row-start: 4;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 1;
        }

        #no5{
            grid-row-start: 5;
            grid-row-end: 5;
            grid-column-start: 1;
            grid-column-end: 1;
        }
/* Notifications end */


/* Campuses start */
.campuses{
    display: block;
    border: 1px solid white;
    background-image: url(/Assets/bg2.png);
    text-align: center;
    align-items: center;
}

    .campus-heading h1{
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .three-card{
        width: 1100px;
        height: fit-content;
        /* border: 1px solid black; */
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

        .card{
            height: 530px;
            width: 330px;
            /* border: 1px solid black; */
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgb(154, 153, 153);
        }

            .card img{
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                height: 50%;
                object-fit: cover;
            }

            .content-card{
                height: 40%;
                padding: 10px;
                background-color: white;
                /* border: 1px solid black; */
            }
            
                .texts-circle{
                    display: grid;
                    grid-template-rows: 70px 150px;
                    grid-template-columns: 80% 20%;
                }

                    .card-text{
                        grid-row-start: 1;
                        grid-row-end: 1;
                        grid-column-start: 1;
                        grid-column-end: 1;
                        /* border: 1px solid black; */
                        color: #739930;
                        font-weight: bold;
                        display: block;
                        width: fit-content;
                    }
                        .maint{
                            color: #739930;
                            font-size: 26px;
                            font-weight: bold;
                            display: block;
                            text-align: left;
                        }

                        .subt{
                            color: #739930;
                            font-size: 22px;
                            margin-top: 18px;
                            text-align: left;
                            font-weight: 600;
                        }

                        #card3 .subt{
                            margin-top: 10px;
                            font-size: 22px;
                        }


                    .circle-right{
                        grid-row-start: 1;
                        grid-row-end: 1;
                        grid-column-start: 2;
                        grid-column-end: 2;
                        background-color: #739930;
                        border-radius: 50%;
                        width: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        /* border: 1px solid black; */
                    }

                        .circle-right .symbolgt{
                            color: white;
                            font-size: 30px;
                            font-weight: bold;
                        }

                    .card-content{
                        grid-row-start: 2;
                        grid-row-end: 2;
                        grid-column-start: 1;
                        grid-column-end: 3;
                        /* border: 1px solid black; */
                        padding: 5px;
                        text-align: left;
                        font-weight: 600;
                        line-height: 1.5;
                        margin-top: 20px;
                        font-size: 18px;
                    }

                        #card3 .card-content{
                            margin-top: 30px;
                        }
/* Campuses end */


/* Life @ SHC start */
.lifeshc{
    display: flex;
    width: 100%;
    height: 500px;
}

    .life-img{
        width: 50%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

        .life-bg{
            width: 500px;
            height: 500px;
        }

        .life-students{
            width: 500px;
            height: 400px;
            position: absolute;
            border-radius: 50px;
            margin-left: 140px;
        }

    .life-text{
        width: 50%;
        padding: 170px 130px
    }

        .life-text-heading{
            color: #739930;
            font-size: 35px;
            font-weight: 500;
        }

        .life-text-content{
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 300;
            line-height: 1.6;
            width: 600px;
            text-align: justify;
        }

        .read-more{
            color: white;
            border-radius: 10px;
            padding: 10px;
            width: 100px;
            font-weight: 600;
            font-size: 15px;
        }
/* Life @ SHC end */


/* Photos start*/
.photos{
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 25% 25% 25% 25%;
    width: 900px;
    height: fit-content;
    margin: 80px 0px 20px 250px;
    gap: 20px;
    box-sizing: border-box;
}

    .pho{
        border-radius: 20px;
    }

    .pho img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

        #ph1{
            grid-row: 1;
            grid-column: 1;
            /* border: 1px solid black; */
        }


        #ph2{
            grid-row: 1;
            grid-column: 2;
            /* border: 1px solid black; */
        }

        #ph3{
            grid-row: 1;
            grid-column: 3/5;
            /* border: 1px solid black; */
        }

        #ph4{
            grid-row: 2;
            grid-column: 1/3;
            /* border: 1px solid black; */
        }

        #ph5{
            grid-row: 2;
            grid-column: 3;
            /* border: 1px solid black; */
        }

        #ph6{
            grid-row: 2;
            grid-column: 4;
            /* border: 1px solid black; */
        }
/* Photos end */


/* Achievements start */
.achievements{
    width: 100%;
    height: fit-content;
    border: 1px solid white;
    box-sizing: border-box;
    background-image: linear-gradient(to left, rgb(242, 239, 239), white)
}

    .achiev-heading{
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
    }

    .achiev-photos{
        display: grid;
        grid-template-rows: 250px 250px;
        grid-template-columns: 50% 50%;
        width: 1100px;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 30px;
        gap: 20px;
    }

        .ach-ph1{
            /* border: 1px solid black; */
            border-radius: 20px;
        }

            .ach-ph1 img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }

        #achiev-ph1{
            grid-row: 1;
            grid-column: 1;
        }

        #achiev-ph2{
            grid-row: 1/3;
            grid-column: 2;
        }

        #achiev-ph3{
            grid-row: 2;
            grid-column: 1;
        }
/* Achievements end */


/* Details and Opinions start */
.details{
    width: 100%;
}

    .college-overall{
        display: flex;
        width: 1100px;
        height: 450px;
        margin: auto;
        margin-top: 50px;
        /* border: 1px solid black; */
        gap: 20px;
    }

        .d-card{
            width: 300px;
            /* border: 1px solid black; */
            border-radius: 20px;
            background: linear-gradient(to right, #759B3E, #50A667);
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            /* overflow: hidden; */
        }

            .d-card .dcard-content1{
                text-align: center;
                display: block;
                color: white;
            }

                #opened{
                    font-size: 25px;
                    display: block;
                    margin: auto;
                }

                #nineteen{
                    font-size: 50px;
                }

            .d-card .dcard-content2{
                height: fit-content;
                text-align: center;
                display: block;
                color: white;
                padding: 20px 0px 0px 0px;
            }

                #programmes{
                    font-weight: 500;
                }

                #ug25{
                    margin-top: 20px;
                    font-size: 50px;
                }

                #pg20{
                    margin-top: 20px;
                    font-size: 50px;
                }

                #one{
                    margin-top: 20px;
                    font-size: 50px;
                }

                #integrated{
                    margin-top: 20px;
                    font-size: 30px;
                    font-weight: 500;
                }

                #pg{
                    margin-top: 20px;
                    font-weight: 500;
                    font-size: 30px;
                }

             .d-card .dcard-content3{
                height: fit-content;
                text-align: center;
                display: block;
                color: white;
            }

                #phd{
                    font-size: 25px;
                    font-weight: 500;
                }

                #seven{
                    font-size: 50px;
                }

            .d-card .dcard-content4{
                height: fit-content;
                text-align: center;
                display: block;
                color: white;
            }

                #dstudents{
                    font-size: 25px;
                    font-weight: 600;
                }

                #fourthou{
                    font-size: 50px;
                }

    .opinions{
        display: flex;
        width: 1150px;
        height: fit-content;
        /* border: 1px solid black; */
        margin: auto;
        margin-top: 30px;
        gap: 50px;
    }

        .o-card{
            width: 400px;
            height: 500px;
            border: 3px solid #759B3E;
            border-radius: 20px;
            box-sizing: border-box;
        }

            .o-card-img{
                height: 150px;
                width: 150px;
                margin: auto;
                margin-top: 30px;
                /* border: 1px solid black; */
            }

                .o-card-img img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

            .o-card-content{
                width: 100%;
                height: fit-content;
                /* border: 1px solid black; */
                display: block;
                text-align: center;
                margin-top: 30px;
                padding: 20px;
                box-sizing: border-box;
            }

                .o-card-content h2{
                    color: #759B3E;
                    font-weight: 800;
                }

                .o-card-content h3{
                    width: 250px;
                    margin: auto;
                    margin-top: 15px;
                    color: #759B3E;
                    font-weight: 300;
                }

                .o-card-content p{
                    margin-top: 20px;
                    color: grey;
                    line-height: 1.4;
                    text-align: justify;
                    font-size: 18px;
                }

            #o-card-content3{
                padding-top: 0px;
                padding-bottom: 0px;
            }

    .two-circles{
        width: 100%;
        height: fit-content;
        /* border: 1px solid black; */
        margin: auto;
        margin-top: 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

        .d-circles{
            width: 15px;
            height: 15px;
            border: 1px solid #759B3E;
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }

            #d-circle2 .color-inside{
                width: 10px;
                height: 10px;
                background-color: #759B3E;
                margin: auto;
                border-radius: 50%;
            }
/* Details and Opinions start */




            

            

        


    
        

    
