:root {
    --color1-text: #739930;
    --gradient1: #759B3E;
    --gradient2: #50A667;
    --gradient1-50: #749b3edb;
    --gradient2-50: #50A667db;
    --white: #ffffff;
    --lh: 1.5rem;
    --space-head: 40px;

    /* --font-raleway: 'Roboto', serif; */
    /* --font-raleway-serif: 'Roboto', serif; */
    --font-raleway-serif:'Raleway', sans-serif;
    --font-poppins-serif:'Poppins', sans-serif;
    --font-header-menu: 800;
    --font-header-submenu: 400;

    --font-section-title: 800;
    --font-section-subtitle: 400;
    --font-section-para: 200;
    --font-section-usertitle: 400;
    --font-section-usersubtitle: 200;
    
    --font-card-header: 500;
    --font-card-subheader: 600;
    --font-date: 600;

    --card_shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    --card_shadow_hover: 0 8px 16px 0 rgba(0,0,0,0.2);

    --gradient: linear-gradient(to right, var(--gradient1),var(--gradient2));
    --black-text : #000;

  }

.header-top-backgroud-color{
    background-color: white;
}

.nav-sh .header-menu-class li a{
    color: var(--color1-text) ;
    font-weight: 600;
}
.nav-sh .header-menu-class li a:hover{
	color: var(--black-text);
}
.nirf a:hover{
	color: var(--color1-text);
}
.home-media-play{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.home-media-play video{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.section-title{
    color: var(--black-text);
    font-weight: 600;
    justify-content: center;
    text-align: center;
    margin-top: var(--space-head);
    margin-bottom: var(--space-head);
    font-style: normal;
}

.section-title h3{
    font-weight: var(--font-section-title);
    margin-bottom: 0px;
}
.custom-card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.custom-card{
    /* width: 350px; */
    /* height: 400px; */
    background:#e5f4ed;
    /* margin: 20px; */
    margin-bottom: 20px;
    border-radius: 30px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--gradient1) 0%, var(--gradient2) 100%);

    /* -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%); */
    /* -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%); */
    border-image: linear-gradient(to right, var(--gradient1) 0%, var(--gradient2) 100%);
    border-image-slice: 1;
}

.custom-card-header{
    /* height: 150px; */
    border-radius: 30px;
    background: linear-gradient(to right,var(--gradient1),var(--gradient2));
    display: flex;
    flex-direction: column;
    /* padding: 5px 8px; */
    justify-content: center;
    padding: 20px;
    text-align: center;
    flex: 1;
}
.custom-card-header .title1,.title2{
    color: white;
}
.custom-card-header .title1{
    font-weight: 700;
    font-size: 24px;
    font-weight: var(--font-card-header);
   
}
.custom-card-header .title2{
    font-weight: 700;
    /* font-size: 30px; */
    font-size: 3em;
    font-weight: var(--font-card-subheader);
    font-family: var(--font-poppins-serif);

}
.custom-card-content{
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    height: 190px;
    overflow: hidden;
    text-align: justify;
    margin: 10px 10px 20px 10px;
    color: black;
    line-clamp: 7;
    max-lines: 7;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
    font-weight: var(--font-section-para);
    padding: 20px;
}


/* CAMPUS */

.custom-card-list .campus{
    margin: 0px 30px;
}
.custom-card-list .no-pad{
    padding: 0px 0px;
}
.card-campus {
    box-shadow: var(--card_shadow);
    transition: 0.3s;
    border-radius: 20px;
    margin: 15px 20px;
    /* height: 100%; */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card-campus:hover {
    box-shadow: var(--card_shadow_hover);
  }

  .card-campus img{
    border-radius: 20px 20px 0 0;
    height: 300px;
    object-position: center;
    object-fit: cover;
  }
  
  /* Add some padding inside the card container */
  .card-campus .campus-content {
    padding: 0px 30px 10px;
    text-align: justify;
    margin-top: 10px;
    
  }
  .card-campus .campus-content .content-title div:first-child{
    flex: 1;
    /* padding-right: 60px; */
  }
 
  .card-campus .content-title{
      display: flex;
      flex-direction: row;
      align-items: center;
      color: var(--color1-text);
  }
.card-campus .content-title h2{
    font-weight: var(--font-section-title);
}
.card-campus .content-title h4{
    font-weight: var(--font-section-subtitle);
}
  .campus-round{
      color: white;
      background: var(--color1-text);
      width: 60px;
      height: 60px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      margin-right: 0px;
      position: absolute;
        right: 25px;
        cursor: pointer;
  }
  .card-campus .campus-content p{
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: var(--font-section-para);
  }




  /* LIFE AT SACRED */

  .life {
      padding: 40px;
      display: flex;
      align-items: center;
      text-align: justify;
  }
  .life img{
      width: 100%;
      border-radius: 140px;
      padding: 10%;
      background-repeat: no-repeat;
      background-size: contain;
  }
  .life .life-title{
      margin-top: 30px;
      margin-bottom: 30px;
      color: var(--color1-text);
      font-weight: var(--font-section-title);
  }
  .life .life-content{
    font-weight: var(--font-section-para);
    font-family: var(--font-poppins-serif);
  }
  .single-department .life-title{
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--color1-text);
    font-weight: var(--font-section-title);
}
  .single-department .life-content,.single-department #mission{
    font-weight: var(--font-section-subtitle);
    font-family: var(--font-poppins-serif);
  }
  button.primary.bt-gradient{
      background: linear-gradient(to right, var(--gradient1), var(--gradient2));
      border-radius: 8px;
      padding: 8px 15px;
      color: white;
      border-width: 0px;
      margin: 10px;
  }





  /* FOOTER */

  .footer{
      background: linear-gradient(to right, var(--gradient1),var(--gradient2));
      color: white;
     display:block;
     font-family: var(--font-poppins-serif);

  }
  
  .footer .container{
      padding-top: 20px;
  }

  .footer h4 {
      font-weight: 600;
      margin: var(--space-head) 0px var(--space-head);
      font-family: var(--font-raleway-serif);
  }
  .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
  }
  .footer a{
    color: white;
  }
  .footer a:hover {
    /* color: var(--color1-text); */
  }
  .footer .seperator{
      width: 100%;
      height: 1px;
      background: white;
      margin: 10px 0px;
  }

  .footer .copy-right{
      justify-content: center;
      text-align: center;
      padding: 20px 5px;
  }

  
  .footer .social-mobile i{
      background: black;
      border-radius: 50%;
      color: white;
      padding: 10px;
      margin: 5px;
      width:38px;
      height:38px;
      text-align: center;
  }
  .footer .social-mobile a i:hover{
      color: var(--color1-text);
  }


  /* GALLLERY */


  .my-gallery figure a img{
      border-radius: 20px;
  }



  /* CAROUSEL */

.slick-testimonials{
    margin: 0px 0px;
    padding-bottom: 30px;
    flex-direction: row;
}
.slick-testimonials .slick-list{
    margin-bottom: 30px;
}
.no-pad{
    padding: 0px 0px;
}


.card-slick-carousel.testimonials:hover{
    box-shadow: var(--card_shadow_hover);
}
.card-slick-carousel.testimonials{
    box-shadow: var(--card_shadow);
    transition: 0.3s;
    border-radius: 20px;
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    /* border: 2px solid var(--color1-text); */

    background: var(--gradient);
    padding: 2px;
}

.card-slick-carousel.testimonials .col{
    background: white;
    border-radius: 20px;
}

.testimonials .img{
    display: flex;
    justify-content: center;
}
.testimonials img{
    border-radius: 50%;
    margin: 20px 0px;
    width: 160px;
    height: 160px;
}
.card-slick-carousel.testimonials h3{
   font-size: 1.5rem;
   text-align: center;
   color: var(--color1-text);
   font-weight: 700;
   font-family: var(--font-poppins-serif);
}
.card-slick-carousel.testimonials h4{
   font-size: 1.25rem;
   text-align: center;
   color: var(--color1-text);
   font-weight: var(--font-section-usersubtitle);
   font-family: var(--font-poppins-serif);
}
.card-slick-carousel.testimonials p{
    --max-lines: 7;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px;
    line-height: var(--lh);
    max-height: calc(var(--lh) * var(--max-lines));
    font-weight: var(--font-section-para);
    font-family: var(--font-poppins-serif);
    /* white-space: nowrap; */
    /* display: inline; */
}


.slick-testimonials .slick-dots li{
    /* position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    height: 13px;
    margin: 0 5px;
    */
    /* padding: 2px;  */
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    /* cursor: pointer; */
    background-color: transparent;
    border: 1px solid var(--color1-text);
}
.slick-testimonials .slick-dots li.slick-active button{
    background: var(--color1-text);
}
.slick-testimonials .slick-dots li button{
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 50%;
}
.slick-testimonials .slick-dots li button:before{
    content: '';
}
.slick-testimonials .slick-dots li button{
    /* font-size: 0; */
    /* line-height: 0; */
    /* display: block; */
    border-radius: 50%;
    /* width: 13px; */
    /* height: 13px; */
    padding: 0px;
    /* cursor: pointer; */
    color: transparent;
    border: 0;
    /* outline: none; */
    background: transparent;
}


  /* CAROUSEL END */





  /* NEWS TAB */

.tabs.news{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tabs.news .nav-tabs{
    border: 1px solid var(--color1-text);
    border-radius: 0px;
    margin-top: var(--space-head);
    margin-bottom: var(--space-head);
}
.tabs.news .nav-tabs .nav-item{
    margin-bottom: 0px;
    border-right: 1px solid var(--color1-text);
    padding: 0px;
}
.tabs.news .nav-tabs .nav-item:last-child{
    margin-right: -1px;
}
.tabs.news .nav-tabs .nav-item .nav-link{
    border-width: 0px;
    border-radius: 0px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.25em;
}
.tabs.news .nav-tabs .nav-item .nav-link.active{
    border-width: 0px;
    background: linear-gradient(to right, var(--gradient1),var(--gradient2));
    color: white;
}

.home .sticky-top.scrolled{
    background: rgb(215,238,180);
    background: -moz-linear-gradient(180deg, rgba(215,238,180,1) 0%, rgba(247,254,236,1) 45%, rgba(254,254,252,1) 71%, rgba(251,254,243,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(215,238,180,1) 0%, rgba(247,254,236,1) 45%, rgba(254,254,252,1) 71%, rgba(251,254,243,1) 100%);
    background: linear-gradient(180deg, rgba(215,238,180,1) 0%, rgba(247,254,236,1) 45%, rgba(254,254,252,1) 71%, rgba(251,254,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7eeb4",endColorstr="#fbfef3",GradientType=1);
}

.tabs.news .tab-content{
    width: 100%;
}
.tabs.news .tab-content .tab-pane{
    justify-content: center;
    /* display: flex; */
    align-items: center;
    align-content: center;
}


.tab-content.news .events_date{
    display: flex;
    align-items: center;
    
}
.tab-content.news .events_date .day{
    font-size: 4em;
    color: var(--color1-text);
    font-family: var(--font-poppins-serif);
    font-weight: var(--font-date);
}

.tab-content.news .events_date .content_date{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: end;
}
.tab-content.news .month{
    align-items: center;
    display: flex;
    margin-left: 0px;
}
.tab-content.news .month span{
    border-left: 2px solid black;
    padding-left: 5px;
    min-width: 110px;
}
.tab-content.news .month span:before{
    /* width: 10px; */
    /* height: 100%; */
    /* background: red; */
    /* display: block; */
    /* content: '';
    border-left: 1px solid black; */
    
    /* content: '';
    margin: 10px 0px; */

    /* content: "";
    width: 1px;
    height: 100%;
    background-color: #529600;
    left: 0;
    position: relative;
    display: block;
    top: 10px;
    border-left:0 none;	
	border-top:0 none;
	right:10px; 
	bottom:10px; */
}

.tab-content.news .newscontent{
    flex-direction: row;
    padding-left:5px;
    display: flex;
    flex:1;
    border-bottom: 1px solid rgb(32, 32, 32);
    /* border-left: 1px solid rgb(32, 32, 32); */
    margin-left: 10px;
}

.tab-content.news .newscontent .sub_content{
    flex-direction: column;
    padding-left:15px;
    display: flex;
}
@media(min-width:768px){
.tab-content.news .row:not(:first-child) .newscontent .sub_content:before {
    content: "\f0d7";
    display: inline;
    position: relative;
    top: 0;
    right: 20;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    /* <i class="fa fa-caret-down" aria-hidden="true"></i> */

}
}
.tab-content.news .news-title{
    padding: 20px 20px 10px 0px;
    color: black;
}
.tab-content.news .news-title a, #announcement a{
    color: var(--color1-text);
}
.tab-content.news .news-title h4{
    font-weight: 700;
}




.tab-content.news .news-time{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    color: #515151;
}
.tab-content.news .news-time .time{
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;
    font-size: 0.9rem;
    padding: 0px 10px 5px 0px;
    font-family: var(--font-poppins-serif);
    font-weight: var(--font-date);
}
.tab-content.news .news-description{
    font-size: 0.9rem;
    padding-bottom: 15px;
    font-weight: var(--font-section-para);
}


  /* NEWS TAB END */






/* GALLERY */

.my-gallery{
    padding:16px;

    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center; */
   
}

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
  
}
.my-gallery figure {
  display: block;
  /*float: left;*/
  /* margin: 0 5px 5px 0; */
  margin: 0 15px 15px 0;
  /* width: 150px; */
}
.my-gallery figcaption {
  display: none;
}
/* GALLERY END */



/* HEADER */

.col.nav-sh{
    padding-left: 0px;
    padding-right: 0px;
}

.nav-sh h4{
    margin-top: 10px;
    padding-bottom: 10px;
}

.nav-sh h4:first-child{
    margin-right: 0px;
}
.nav-sh h4:not(:first-child){
    margin-right: 10px;
}

.nav-sh li{
    padding-top: 12px;
}

.section-title{
    width: 100%;
}

.logo-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col.nav-sh{
    align-content: center;
    display: flex;
    flex-direction: row-reverse;
}

.col.nav-sh h4{
    /* display: flex; */
    /* flex-direction: row-reverse; */
    align-content: center;
    align-items: center;
    display: flex;
}
.col.nav-sh .custom-search .custom-search-button{
    padding: 5px 10px;
    height: 36px;
    background: #739d31;
    /* width: 30px; */
    align-content: center;
    display: flex;
    align-content: center;
    align-items: center;

}

.col.nav-sh.mobile .custom-search .custom-search-button{
    padding: 0px 10px;
    display: flex;
    width: auto;
    flex-direction:row-reverse;
}

.nav-sh.mobile h4{
    margin-right: 10px;
}

.col.nav-sh .custom-search{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col.nav-sh .custom-search i{
    font-size: 1.2rem;
}

.col.nav-sh .custom-search input{
    height: 30px;
    margin-left: 20px;
}

.nirf a{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
}




/* font */

.nav-sh ul li a{
    font-weight: var(--font-header-menu);
}
.nav-sh ul li .sub-menu a{
    font-weight: var(--font-header-submenu);
    color: #383131;
}

.nav-sh ul li .sub-menu a:hover{
    color: var(--color1-text);
}

/* mobile */
.gd-sldm .sldm nav .sldm-toggle{
    top:5px;
}

.search-mobile .btn-search{
    background: var(--color1-text);    
    color: white;
}
.search-mobile .btn-search button{
    color: white;
}

@media screen and (max-width: 600px) {
  .announce-content .header {
    font-size: 100%;
  }
}


/* HEADER END */



/* DELETE */

@media(min-width:768px){
    .custom-card-header .title1{
        /* height: 60px; */
    }
    .card-slick-carousel.testimonials p{
        height: calc(var(--lh) * var(--max-lines));
    }
    .sub-menu{
       /* margin-top: 1.5rem !important; */
    }

    .card-slick-carousel.testimonials.slick-slide{
        height: 500px;
    }
    
}
@media(min-width:992px){
	.home-media-play{
    	overflow: hidden;
    	height: 85vh;
    }
 
}
@media(min-width:1200px){
    
    .container.container-80-2k{
        max-width: 80%;
    }
    .home-media-play{
    	overflow: hidden;
    	height: 85vh;
    }
}


.nav-sh h4 a{
    font-size: 1rem;
}

.nav-sh li a{
    font-size: 1rem;
}

/* DELETE END*/


/* announcement*/

.verticaltext {
    writing-mode: sideways-lr;
    text-align: center;

    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
  #announcement {
    position: fixed;
    top:0;
    right:0;
    /* width: 100%; */
    height: 100%;
    display: table;
    text-align: center;
}

.announce-content .header {
    display: inline-block;
    background: var(--color1-text);
    color: white;
    text-align: center;
    padding: 15px 5px;
    margin: 0px;
    width: 40px;
    cursor: pointer;
    
}
.announce-content {
    display: flex;
    position: absolute;
    right: 0px;
    
    border: 3px solid var(--color1-text);
    border-right: 0px;
    padding: 0px;
    margin: 0;
    top:  calc(50% - 200px);
    /*height: 400px;*/
    width: auto;
    background-color: rgba(255, 255, 255, 0.8392156862745098);
  }

  .announce-details{
    display: none;
    /* display: flex; */
    flex: 1;
    overflow-y: auto;
    text-align: center;
    justify-content: center;
    max-width: 250px;
    padding: 5px;
    width: 250px;
    height: 400px;
  }
  
/* announcement END*/



.tabs.news .nav-item a {
    position: relative;
}

.tabs.news .nav-item .nav-link.active:after{
    content: "\f0d7";
    display: inline;
    position: absolute;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: var(--color1-text);
    font-size: 1.5rem;

    bottom: -40%;
    left: 50%;
    animation: blinker 2s linear infinite;

}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.campus-row{
    flex-direction: column;
    background-origin: revert;
    background-size: auto; 
    background-blend-mode: saturation;
    padding-bottom: 40px;
    background-image: linear-gradient(white, white), url('../images/bg2.png');
}

.card-campus{
    background: white;
}


.custom-card-list > div {
    display: flex;
}
.custom-card-list > div > .custom-card{
    /* these are the flex items */
    flex: 1;
    display: flex;
}
.fbposts{
  background: #dcddde;
  width: 100%;
  overflow: hidden;
  height: 280px;
}
.fbposts img{
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: auto;
  height: 250px;
  margin: 1rem;
  border: 2px solid #fff;
  float: left;
}

.blog-img{
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  height: 300px !important;
}
.achievement-image{
	object-fit: cover;
	background: #ccc;
	width: 100%;
	
}
button:focus{
  outline:none;
}
.notice{
	width: 100%;
    position: absolute;
    height: auto;
    background: #0000005c;
    color: #fff;
    padding: 0px 10px;
    z-index: 9;
}
.notice a{
	color: #fff;
}
/* Department ********************************************************************************************************** */
.left-border-full{
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: var(--gradient);
    color: white;
    margin-top: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
}




.card-slick-carousel.testimonials1{
    /* box-shadow: var(--card_shadow); */
    /* transition: 0.3s; */
    /* border-radius: 20px; */
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    /* border: 2px solid var(--color1-text); */

    /* background: var(--gradient); */
    flex-direction: column;
    padding: 2px;
}

.card-slick-carousel.testimonials1 .col.detail{
    background: white;
    border-radius: 20px;
}

.testimonials .col.user{
    text-align: center;
}
/* .testimonials .col.detail p{] */
    
.testimonials .col.detail{
    border: 3px solid var(--gradient1);
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.testimonials .col.detail:after{
    content:'';
    position:absolute;
    bottom:-22px; 
    width:40px;
    height:40px;
    border-bottom:3px solid var(--gradient1);
    border-right:3px solid var(--gradient1);
    background:white;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.testimonials .img{
    display: flex;
    justify-content: center;
}
.testimonials img{
    border-radius: 50%;
    margin: 20px 0px;
    width: 160px;
    height: 160px;
}
.card-slick-carousel.testimonials1 h3{
   font-size: 1.5rem;
   text-align: center;
   color: var(--color1-text);
   font-weight: 700;
   font-family: var(--font-poppins-serif);
}
/* .card-slick-carousel.testimonials1 h4{
   font-size: 1.25rem;
   text-align: center;
   color: var(--color1-text);
   font-weight: var(--font-section-usersubtitle);
   font-family: var(--font-poppins-serif);
} */
.card-slick-carousel.testimonials1 p{
    --max-lines: 7;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px;
    line-height: var(--lh);
    max-height: calc(var(--lh) * var(--max-lines));
    font-weight: var(--font-section-para);
    font-family: var(--font-poppins-serif);
    height: calc(var(--lh) * var(--max-lines));
    overflow-y: auto;
    /* white-space: nowrap; */
    /* display: inline; */
}
.placement{
    padding: 20px;
    flex-wrap: wrap;
}

.placement img{
    border-radius: 20px;
    object-fit: cover;
    min-height: 240px;
    display: block;
}
.placement .item{
    position: relative;
    margin-top: 20px;
}

.placement .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    /* width: 100%; */
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(to right, var(--gradient1-50),var(--gradient2-50));;
    color: white;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .placement .item:hover .img-overlay {
    opacity: 1;
  }


  .linear-gradient{
    background: linear-gradient(to right, var(--gradient1),var(--gradient2));;
  }
.nav-sh li{

position: relative;
padding: 0px;
}

.nav-sh .header-menu-class li a{
color: var(--color1-text);
font-weight: 600;
display: block;
padding: 10px
}

#sh-college .second-menu ul li ul{
visibility: hidden;
opacity: 0;
min-width: 22rem;
position: absolute;
transition: all 0.5s ease;
display: none;
z-index: 1;
}



.sub-menu{
top: 90%;
}

#sh-college .second-menu ul li ul li ul{

top:0px
}


#sh-college .second-menu ul li ul li{
border-bottom: 1px solid #eee
}
#breadcrumbs{
    padding: 0px;
}