.sh-paragraph{
    line-height: 1.6;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
}
.padding-0 .wp-block-media-text__content{
    padding: 0px !important;
}
.chemistry-cl .sh-ch {
    background-color: #0084c8; }
.chemistry-cl .nav-sh h4 a {
    background-color: #0084c8; }
.chemistry-cl .physicsz h4 {
    color: #0084c8; }
.chemistry-cl .nz {
    background-color: #0084c8; }
.chemistry-cl .gr {
    color: #0084c8; }
.chemistry-cl .qqt {
    color: #0084c8; }
body {
    font-family: var(--font-raleway-serif) !important; }
p {
    letter-spacing: 1px; }
.departmentz-slid {
    padding-top: 30px;
    padding-bottom: 32px;
    background-color: #f3f5f0; }
.departmentz-slid img {
    border-radius: 50%; }
.departmentz {
    background-image: url(../images/department.jpg);
    width: 100%;
    height: 488px;
    background-repeat: no-repeat;
    background-size: cover; }
.department-about {
    border-bottom: 1px solid #ccc; }
.department-about ul {
    list-style: none; }
.department-about ul li {
    width: 14%;
    float: left;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 17px; }
.department-about ul li a {
    color: #041811;
    font-size: 14px;
    text-decoration: none;
    /* font-family: var(--font-raleway-serif); */ }

.dep1-abt {
    padding-top: 40px;
    padding-bottom: 30px; }
.dep1-abt .container {
    width: 80%; }
.dep1-abt h4 {
    font-family: 'testfont-Bold';
    font-size: 25px;
    line-height: 36px;
    padding-top: 23px; }
.dep1-abt img {
    height: 360px; }
.dep1-abt p {
    padding-right: 24%; }

.faculty-filterz {
    margin-top: 29px;
    float: left;
    background-color: #739d31;
    height: 103px;
    width: 2px;
    margin-right: 18px; }

.filter-box {
    padding-top: 40px; }
.filter-box h4 {
    font-family: 'testfont-Bold';
    font-size: 16px;
    letter-spacing: 1px; }
.filter-box P {
    padding-bottom: 12px;
    font-size: 13px;
    font-family: 'testfont-Italic';
    letter-spacing: 1px; }
.filter-box .gr {
    color: #739d31;
    padding-right: 3px; }
.filter-box h6 {
    font-size: 13px;
    margin-bottom: 0;
    /* font-family: var(--font-raleway-serif); */
    letter-spacing: 1px; }
.filter-box .fil-box {
    float: left;
    width: 45%; }
.filter-box .fil-box .gr {
    font-size: 16px;
    padding-right: 6px; }
.filter-box .rit-dr {
    float: right;
    background-color: #739d31;
    width: 1px;
    margin-top: -15px;
    padding-top: 0;
    height: 14px;
    margin-right: 13px; }

.news-btn {
    border-radius: 0;
    padding: 7px 25px;
    /* font-family: var(--font-raleway-serif); */
    margin: 0 auto;
    display: block;
    margin-top: 36px;
    margin-bottom: 40px; }

.event-news h4 {
    /* font-family: var(--font-raleway-serif); */
    font-size: 35px;
    padding-top: 14px;
    padding-bottom: 19px; }

.newzz {
    background-color: #f3f5f0; }
.newzz .newz-hr {
    background-color: #739d31;
    width: 53px;
    height: 1px;
    margin-bottom: 15px;
    margin-bottom: 6px; }
.newzz ul {
    padding-left: 0;
    list-style: none; }
.newzz li {
    padding-top: 25px;
    padding-bottom: 20px;
    width: 32.333333%;
    display: inline-block; }
.newzz .news-list {
    padding-top: 25px;
    padding-bottom: 20px; }
.newzz .news-list h4 {
    /* font-family: var(--font-raleway-serif); */
    font-size: 24px; }
.newzz .news-date {
    padding-left: 18px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 15px; }
.newzz .news-date h6 {
    /* font-family: var(--font-raleway-serif); */
    color: #739d31;
    font-size: 14px; }
.newzz .news-date h4 {
    font-size: 16px;
    /* font-family: var(--font-raleway-serif); */
    line-height: 23px;
    letter-spacing: 1px; }
.newzz .news-date p {
    font-size: 12px;
    /* font-family: var(--font-raleway-serif); */
    line-height: 24px;
    letter-spacing: 1px; }

.newz-box {
    margin-bottom: 10px;
    background-color: #fff; }

.listz {
    background: linear-gradient(to right, #f3f5f0 8%, white 0%); }
.listz h4 {
    padding-left: 10px;
    /* font-family: var(--font-raleway-serif); */
    font-size: 33px; }
.listz h4 span {
    /* font-family: var(--font-raleway-serif); */
    font-size: 22px; }

.square1 {
    background: #739d31;
    height: 251px;
    position: absolute;
    transition: transform 0.8s;
    width: 96%; }

.square2 {
    height: 150px;
    transition: transform 0.8s;
    position: absolute;
    width: 96%; }
.square2:hover {
    transform: translate(-17px, -20px); }

.fact .col-md-3 {
    position: relative; }
.fact h4 {
    position: absolute;
    top: 267px; }



.orgin {
    background-color: #f3f5f0;
    overflow: hidden; }
.orgin .container {
    width: 91%;
    float: left; }
.orgin .colg {
    padding-left: 13%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 71px;
    background-color: white;
    padding-right: 10%; }
.orgin .colg h4 {
    font-size: 26px;
    padding-bottom: 16px;
    /* font-family: var(--font-raleway-serif); */
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 35px; }
.orgin .colg p {
    /* font-family: var(--font-raleway-serif); */
    line-height: 25px;
    font-size: 14px;
    letter-spacing: 1px; }
.orgin .rit-club {
    padding: 0; }
.orgin .clb-view {
    font-family: 'testfont-light';
    float: right;
    background-color: #739d31;
    border-radius: 0px;
    font-size: 14px; }

.height-club {
    height: 75px;
    background-color: #f3f5f0; }

.university-club {
    background-color: #f3f5f0;
    padding-bottom: 6%;
    padding-top: 2%; }
.university-club .container {
    width: 100%; }
.university-club .container .club-pic {
    padding-left: 49px; }
.university-club .container .clb {
    padding-left: 7%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 71px;
    background-color: white;
    padding-right: 10%; }
.university-club .container .clb span {
    font-family: 'testfont-Bold'; }
.university-club .container .clb h4 {
    font-size: 26px;
    padding-bottom: 16px;
    /* font-family: var(--font-raleway-serif); */
    font-weight: 500;
    letter-spacing: 1px; }
.university-club .container .clb p {
    /* font-family: var(--font-raleway-serif); */
    line-height: 25px;
    font-size: 14px;
    letter-spacing: 1px; }
.university-club .container .org {
    padding: 0 !important; }
.university-club .container .clb-view {
    font-family: 'testfont-light';
    float: right;
    background-color: #739d31;
    border-radius: 0px;
    font-size: 14px; }

.abt-height {
    height: 34px; }

.full-audio {
    position: absolute;
    width: 100%;
    background-color: #f3f5f0;
    bottom: 0;
    height: 68px;
    z-index: 0; }

.about-sh h4 {
    font-size: 22px;
    /* font-family: var(--font-raleway-serif); */ }

.clg .container {
    width: 83%; }
.clg .container h5 {
    font-size: 18px;
    padding-top: 27px;
    font-family: 'testfont-Bold'; }
.clg .container .height-am {
    background-color: #739d31;
    width: 44px;
    height: 1px;
    margin-bottom: 15px;
    margin-bottom: 23px; }

.anthem {
    position: relative;
    background: linear-gradient(to right, #f3f5f0 51%, white 0%);
    padding-top: 29px;
    padding-bottom: 33px; }
.anthem .container {
    width: 83%; }
.anthem .container p {
    /* font-family: var(--font-raleway-serif); */
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 23px;
    position: relative;
    z-index: 1; }
.anthem .antm-pic {
    position: relative;
}
.anthem .antm-pic h6 {
    float: left;
    font-size: 64px;
    color: #f3f5f0;
    left: 6px;
    bottom: 14px;
    margin: 0;
    font-family: 'testfont-Bold';
    letter-spacing: 2px; }

.audioz {
    position: absolute;
    bottom: -35px;
    width: 300px;
    z-index: 1; }

.fact {
    padding-bottom: 18%;
    background-color: #f3f5f0;
    padding-top: 27px; }
.fact .container {
    width: 82%;
    background-color: #f3f5f0;
    padding: 0; }
.fact .container .col-md-3 img {
    background-color: #739d31; }
.fact .container .fact-space {
    padding: 10px; }

.visit1 {
    color: #f2f4ee;
    position: absolute;
    right: 0;
    top: 107px;
    font-size: 100px !important;
    font-family: 'testfont-Bold';
    letter-spacing: 2px; }

.bt-space {
    height: 60px; }

.dropup {
    position: fixed !important;
    width: 100%;
    background-color: white;
    box-shadow: 4px -1px 10px 2px #eaeaea;
    z-index: 4;
    padding-left: 7%;
    padding-right: 8%; }

.pages .nav-sh li {
    padding: 13px 27px 0px 27px;
    display: inline-block; }

.rank {
    padding-top: 31px;
    background-color: #f3f5f0; }
.rank .container {
    width: 82%;
    background-color: #fff;
    padding: 17px 14px 28px 32px; }
.rank .container h4 {
    /* font-family: var(--font-raleway-serif); */
    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 15px; }
.rank .container p {
    /* font-family: var(--font-raleway-serif); */
    font-size: 13px;
    line-height: 21px;
    padding-right: 5%; }
.rank .container .pdf img {
    border: 1px solid rgba(204, 204, 204, 0.47);
    margin-right: 18px;
    float: right; }
.rank .container .box-sh-col p {
    color: #739d31;
    padding-top: 16px; }
.rank .container .box-sh-col p img {
    border: 1px solid rgba(204, 204, 204, 0.47);
    margin-left: 2px;
    width: 19px; }

.eng {
    position: relative;
    padding-bottom: 42px; }
.eng .container {
    width: 100%; }
.eng .smc-box {
    padding-left: 19%; }
.eng .smc-box h4 {
    letter-spacing: 2px;
    font-size: 21px;
    padding-top: 27px;
    float: left;
    position: relative;
    z-index: 2;
    /* font-family: var(--font-raleway-serif); */ }
.eng .smc-box h2 {
    position: absolute;
    float: right;
    font-size: 87px;
    color: #f3f5f0;
    right: 0;
    top: 0;
    margin: 0;
    font-family: 'testfont-Bold';
    letter-spacing: 2px; }
.eng .cong p {
    font-family: 'testfont-Light';
    width: 60%;
    font-size: 13px;
    line-height: 24px; }
.eng .cong p span {
    font-family: testfont-Bold; }
.eng .en-sp {
    background-color: #739d31;
    width: 50px;
    height: 2px;
    margin-top: 72px;
    position: absolute;
    margin-left: 3px; }
.eng .txt {
    position: relative; }
.eng .cong {
    padding-top: 42px; }
.eng .dp-shadezz {
    bottom: 143px;
    background-color: #f3f5f0 !important;
    position: absolute;
    width: 369px !important;
    height: 437px;
    right: 0; }

.vision-mission {
    font-family: 'testfont-Light';
    padding-top: 65px;
    background-color: #f3f5f0; }
.vision-mission span {
    /* font-family: var(--font-raleway-serif); */ }
.vision-mission .sm-box {
    margin: 0 auto;
    width: 76%;
    display: block;
    padding-right: 321px; }
.vision-mission .space-sm {
    height: 20px; }
.vision-mission h6 {
    font-size: 14px; }
.vision-mission p {
    /* font-family: var(--font-raleway-serif); */
    font-size: 14px;
    line-height: 24px; }
.vision-mission h4 {
    font-size: 21px;
    /* font-family: var(--font-raleway-serif); */ }
.vision-mission .full-width-sm {
    width: 100%; }
.vision-mission .col-md-3 {
    padding: 0; }
.vision-mission .col-md-3 img {
    left: 67px;
    position: absolute;
    top: -42px;
    z-index: 1; }
.vision-mission .col-md-9 {
    padding-top: 37px;
    padding-bottom: 22px;
    background-color: #fff;
    position: relative; }
.vision-mission .col-md-9 .hrs {
    background-color: #739d31;
    width: 64px;
    height: 1px;
    margin-bottom: 15px;
    margin-bottom: 23px; }
.vision-mission .col-md-9 h6 {
    padding-bottom: 15px; }
.vision-mission .col-md-9 ul {
    position: relative;
    padding-left: 22px;
    /* font-family: var(--font-raleway-serif); */
    list-style: none; }
.vision-mission .col-md-9 ul li:before {
    left: 0;
    padding-top: 3px;
    position: absolute;
    content: "\f111";
    font-family: FontAwesome;
    color: #739d31;
    font-size: 8px; }
.vision-mission .col-md-9 ul li {
    padding-bottom: 5px; }
.vision-mission .col-md-9 h5 {
    /* font-family: var(--font-raleway-serif); */
    padding-bottom: 11px; }
.vision-mission .col-md-9 p {
    /* font-family: var(--font-raleway-serif); */ }
.vision-mission .clg-sn {
    letter-spacing: 1px;
    margin-top: 16px;
    margin-left: 166px;
    background-color: #fff;
    margin-bottom: 33px;
    margin-top: 33px;
    padding-bottom: 25px;
    padding-top: 25px; }
.vision-mission .clg-sn h4 {
    text-align: center; }
.vision-mission .clg-sn .cl {
    background-color: #739d31;
    margin: 0 auto;
    display: block;
    width: 66px;
    height: 1px; }
.vision-mission .clg-sn h2 {
    text-align: center;
    font-family: 'testfont-Bold';
    font-size: 21px;
    letter-spacing: 1px;
    padding-top: 10px; }
.vision-mission .clg-sn p {
    text-align: center;
    font-size: 14px; }

.pages .nav-sh li {
    padding: 22px 27px 0px 27px;
    display: inline-block; }

.about-sh {
    background-color: #f3f5f0; }
.about-sh h4 {
    padding-left: 19px;
    font-size: 45px; }

.vision-mission {
    position: relative; }

.sldm-close {
    color: #739d31; }

.history-sh h4 {
    padding-left: 51px;
    font-size: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* font-family: var(--font-raleway-serif); */ }

.history-all {
    position: relative;
    background: linear-gradient(to right, #f3f5f0 64%, #fff 0%); }
.history-all .history-width {
    width: 70%;
    padding-left: 50px; }
.history-all .h-height {
    height: 80px;
    position: absolute;
    margin-left: 228px;
    width: 1px;
    background-color: #cccccc; }
.history-all h5 {
    color: #d4d4d4;
    font-size: 28px;
    padding-top: 36px;
    padding-bottom: 30px;
    padding-left: 49px; }
.history-all h5 a {
    border: 1px solid #e1e2e0;
    text-decoration: none;
    color: #d4d4d4;
    padding: 2px 10px; }
.history-all .spaces {
    margin-top: 55px;
    position: absolute;
    left: 150px; }
.history-all h6 {
    line-height: 30px;
    font-size: 25px; }
.history-all p {
    font-size: 14px;
    line-height: 23px; }
.history-all img {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px; }

.second-history {
    padding-top: 48px;
    padding-left: 79px;
    padding-bottom: 10px;
    background-color: #f3f5f0; }
.second-history h5 {
    color: #d4d4d4;
    font-size: 28px;
    padding-top: 6px;
    padding-bottom: 30px;
    padding-left: 49px; }
.second-history h5 a {
    border: 1px solid #e1e2e0;
    text-decoration: none;
    color: #d4d4d4;
    padding: 2px 10px; }
.second-history img {
    padding: 18px;
    background-color: white; }
.second-history h6 {
    line-height: 30px;
    font-size: 25px;
    padding-top: 22px;
    padding-bottom: 6px; }
.second-history p {
    font-size: 14px;
    line-height: 23px; }
.second-history .sec-width {
    width: 64%; }

.campus-history {
    position: relative;
    background-color: #f3f5f0; }
.campus-history h6 {
    line-height: 30px;
    font-size: 25px;
    padding-top: 22px;
    padding-bottom: 6px; }
.campus-history p {
    font-size: 14px;
    line-height: 23px; }
.campus-history .h-height {
    height: 80px;
    position: absolute;
    margin-left: 228px;
    width: 1px; }
.campus-history .spaces {
    margin-top: 55px;
    position: absolute;
    left: 150px; }

.scroll-indicator {
    position: fixed;
    left: 100px;
    top: 246px;
    bottom: 85px;
    width: 1px; }

.indicator {
    top: 0;
    left: -5px;
    position: absolute;
    width: 3px;
    height: 37px;
    border-radius: 5px;
    background: #739d31;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.indicator span {
    position: absolute;
    padding-right: 10px;
    transform: translate(-100%, 50%); }

.scroll-indicator:before {
    content: "";
    position: fixed;
    left: 100px;
    top: 0;
    bottom: 0;
    width: 1px; }

.arrowzz {
    position: absolute;
    float: right;
    padding: 0 !important;
    background-color: white;
    left: 96px;
    width: 2px;
    top: 54px;
    height: 962px; }

.campusz {
    background-color: #f3f5f0; }
.campusz .container {
    width: 100%; }
.campusz .sp {
    margin-top: 113px;
    padding-right: 0;
    background-color: white; }
.campusz img {
    float: right;
    background-color: #fff;
    padding: 38px 0px 38px 40px; }
.campusz .box-campus {
    width: 53%;
    margin-right: 98px;
    float: right; }
.campusz h6 {
    line-height: 30px;
    font-size: 25px;
    padding-top: 22px;
    padding-bottom: 6px; }
.campusz p {
    font-size: 14px;
    line-height: 23px; }
.campusz h5 {
    color: #d4d4d4;
    font-size: 28px;
    padding-top: 75px;
    padding-bottom: 0;
    padding-left: 0; }
.campusz h5 a {
    border: 1px solid #e1e2e0;
    text-decoration: none;
    color: #d4d4d4;
    padding: 2px 10px; }
.campusz .h-height {
    top: -6px;
    height: 80px;
    position: absolute;
    margin-left: 42px;
    width: 1px;
    background-color: #cccccc; }

.first-h {
    position: absolute;
    transform: rotate(-90deg);
    top: 52px;
    left: 102px; }

.second-h {
    top: 508px;
    position: absolute;
    transform: rotate(-90deg);
    left: 102px; }

.third-h {
    top: 977px;
    position: absolute;
    transform: rotate(-90deg);
    left: 102px; }

.details-att {
    background: linear-gradient(to right, #f3f5f0 90%, white 0%);
    padding-top: 43px;
    padding-bottom: 38px;
    margin-bottom: 37px; }
.details-att ul {
    padding-left: 154px;
    list-style: none; }
.details-att li {
    float: left;
    width: 41%; }
.details-att li span {
    color: #739d31;
    font-size: 57px;
    letter-spacing: 2px;
    float: left;
    padding-right: 10px;
    font-weight: 400; }
.details-att li p {
    padding-top: 18px;
    color: #041811;
    letter-spacing: 1px;
    font-size: 14px;
    padding-right: 10px; }

.shadezsm {
    background: linear-gradient(to right, #f3f5f0 19%, white 0); }

@media screen and (min-width: 1820px) {
    .orgin .clb-view {
        float: right;
        background-color: #739d31;
        border-radius: 0px;
        font-size: 19px;
        padding: 10px 24px;
        letter-spacing: 2px; }

    .orgin .colg {
        padding-left: 13%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 117px;
        background-color: white;
        padding-right: 10%; }

    .university-club .container .clb {
        padding-left: 7%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 99px;
        background-color: white;
        padding-right: 10%; }

    .orgin .colg p {
        /* font-family: var(--font-raleway-serif); */
        line-height: 37px;
        font-size: 17px;
        letter-spacing: 2px; }

    .university-club .container .clb-view {
        font-family: 'testfont-light';
        float: right;
        background-color: #739d31;
        border-radius: 0px;
        font-size: 19px;
        padding: 10px 24px;
        letter-spacing: 2px; }

    .university-club .container .clb p {
        /* font-family: var(--font-raleway-serif); */
        line-height: 30px;
        font-size: 17px;
        letter-spacing: 2px;
        padding-bottom: 10px; }

    .university-club .container .club-pic {
        padding-left: 98px;
        width: 100%; }

    .rank .container h4 {
        /* font-family: var(--font-raleway-serif); */
        font-size: 27px;
        padding-top: 6px;
        padding-bottom: 15px; }

    .dropup .logz-sh {
        position: absolute;
        padding-left: 15px;
        padding-top: 10px;
        z-index: 2;
        width: 68%; }

    .rank .container {
        width: 74%;
        background-color: white;
        padding: 17px 14px 28px 32px; }

    .rank .container p {
        /* font-family: var(--font-raleway-serif); */
        font-size: 17px;
        line-height: 31px;
        padding-right: 5%; }

    .vision-mission h4 {
        font-size: 28px;
        /* font-family: var(--font-raleway-serif); */ }

    .first-h {
        left: 166px; }

    .second-h {
        left: 166px; }

    .third-h {
        left: 166px; }

    .arrowzz {
        position: absolute;
        float: right;
        padding: 0 !important;
        background-color: white;
        left: 158px;
        width: 2px;
        top: 29px;
        height: 1054px; }

    .scroll-indicator {
        position: fixed;
        left: 162px;
        top: 269px;
        bottom: 85px;
        width: 1px; }

    #scrollzz h6 {
        font-size: 26px;
        line-height: 33px; }

    #scrollzz p {
        font-size: 17px;
        line-height: 29px; }

    .history-all {
        position: relative;
        background: linear-gradient(to right, #f3f5f0 61%, white 0%); }

    .history-all img {
        padding: 10px;
        background-color: white;
        margin-bottom: 48px; }

    .vision-mission .clg-sn {
        letter-spacing: 1px;
        margin-top: 16px;
        margin-left: 143px;
        background-color: white;
        margin-bottom: 33px;
        margin-top: 33px;
        padding-bottom: 25px;
        padding-top: 25px; }

    .vision-mission h6 {
        font-size: 20px; }

    .vision-mission p {
        /* font-family: var(--font-raleway-serif); */
        font-size: 17px;
        line-height: 32px; }

    .vision-mission .col-md-9 h5 {
        /* font-family: var(--font-raleway-serif); */
        padding-bottom: 17px;
        font-size: 19px; }

    .vision-mission .col-md-9 ul li {
        padding-bottom: 13px;
        font-size: 17px; }

    .eng .cong p {
        font-family: 'testfont-Light';
        width: 60%;
        font-size: 14px;
        line-height: 27px; }

    .eng .dp-shadezz {
        bottom: 59px;
        background-color: #f3f5f0 !important;
        position: absolute;
        width: 489px !important;
        height: 465px;
        right: 0; }

    .details-att li p {
        padding-top: 18px;
        color: #041811;
        /* font-family: var(--font-raleway-serif); */
        letter-spacing: 1px;
        font-size: 16px; }

    .eng .smc-box h4 {
        letter-spacing: 2px;
        font-size: 24px;
        padding-top: 27px;
        float: left;
        position: relative;
        z-index: 2;
        /* font-family: var(--font-raleway-serif); */ }

    .vision-mission .sm-box {
        margin: 0 auto;
        width: 80%;
        display: block; } }
@media screen and (min-width: 1570px) {
    .rank .container h4 {
        /* font-family: var(--font-raleway-serif); */
        font-size: 27px;
        padding-top: 6px;
        padding-bottom: 15px; }

    .dropup .logz-sh {
        position: absolute;
        padding-left: 15px;
        padding-top: 10px;
        z-index: 2;
        width: 62%; }

    .rank .container {
        width: 74%;
        background-color: white;
        padding: 17px 14px 28px 32px; }

    .rank .container p {
        /* font-family: var(--font-raleway-serif); */
        font-size: 17px;
        line-height: 31px;
        padding-right: 5%; }

    .vision-mission .clg-sn {
        letter-spacing: 1px;
        margin-top: 16px;
        margin-left: 10%;
        background-color: white;
        margin-bottom: 33px;
        margin-top: 33px;
        padding-bottom: 25px;
        padding-top: 25px; }

    .eng .dp-shadezz {
        bottom: 10%;
        background-color: #f3f5f0 !important;
        position: absolute;
        width: 369px !important;
        height: 437px;
        right: 0; } }
@media screen and (min-width: 1300px) {
    .orgin .colg h4 {
        font-size: 23px;
        padding-bottom: 16px;
        /* font-family: var(--font-raleway-serif); */
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 35px; } }
@media (min-width: 992px) and (max-width: 1199px) {
    .university-club .container .clb h4 {
        font-size: 19px;
        padding-bottom: 2px;
        /* font-family: var(--font-raleway-serif); */
        font-weight: 500;
        letter-spacing: 1px; }

    .university-club .container .clb {
        padding-left: 7%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 40px;
        background-color: white;
        padding-right: 10%; }

    .details-att ul {
        padding-left: 124px;
        list-style: none; }

    .details-att {
        background: linear-gradient(to right, #f3f5f0 100%, white 0%);
        padding-top: 43px;
        padding-bottom: 38px;
        margin-bottom: 37px; }

    .details-att li {
        float: left;
        width: 50%; }

    .details-att li span {
        font-family: 'testfont-Bold';
        font-size: 48px;
        letter-spacing: 2px;
        float: left;
        padding-right: 10px; }

    .eng .cong p {
        font-family: 'testfont-Light';
        width: 95%;
        font-size: 12px;
        line-height: 24px; }

    .vision-mission .sm-box {
        margin: 0 auto;
        width: 76%;
        display: block;
        padding-right: 0; }

    .eng .dp-shadezz {
        bottom: 0;
        background-color: #f3f5f0 !important;
        position: absolute;
        width: 0 !important;
        height: 437px;
        right: 0; }

    .eng .smc-box h2 {
        position: absolute;
        float: right;
        font-size: 55px;
        color: #f3f5f0;
        right: 0;
        top: 19px;
        margin: 0;
        font-family: 'testfont-Bold';
        letter-spacing: 2px; }

    .vision-mission .clg-sn {
        letter-spacing: 1px;
        margin-top: 16px;
        margin-left: 132px;
        background-color: white;
        margin-bottom: 33px;
        margin-top: 33px;
        padding-bottom: 25px;
        padding-top: 25px; }

    .history-all .history-width {
        width: 95%;
        padding-left: 50px; }

    .history-all h5 {
        color: #d4d4d4;
        font-size: 28px;
        padding-top: 14px;
        padding-bottom: 9px;
        padding-left: 49px; }

    .second-history .sec-width {
        width: 97%; }

    .arrowzz {
        position: absolute;
        float: right;
        padding: 0 !important;
        background-color: white;
        left: 96px;
        width: 2px;
        top: 29px;
        height: 985px;
        display: none; }

    .scroll-indicator {
        position: fixed;
        left: 100px;
        top: 246px;
        bottom: 85px;
        width: 1px;
        display: none; }

    .first-h {
        position: absolute;
        transform: rotate(-90deg);
        top: 29px;
        display: none;
        left: 102px; }

    .second-h {
        display: none; }

    .third-h {
        display: none; }

    .history-all {
        position: relative;
        background: linear-gradient(to right, #f3f5f0 61%, white 0%); }

    .second-history {
        padding-top: 85px;
        padding-left: 79px;
        padding-bottom: 10px;
        background-color: #f3f5f0; }

    .history-all .spaces {
        margin-top: 72px;
        position: absolute;
        left: 150px; }

    .campusz .box-campus {
        width: 63%;
        margin-right: 37px;
        float: right; } }
@media (min-width: 768px) and (max-width: 991px) {
    .details-att {
        background: linear-gradient(to right, #f3f5f0 100%, white 0%);
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 41px; }

    .eng .smc-box h2 {
        position: absolute;
        float: right;
        font-size: 51px;
        color: #f3f5f0;
        right: 0;
        top: 17px;
        margin: 0;
        font-family: 'testfont-Bold';
        letter-spacing: 2px; }

    .details-att ul {
        padding-left: 0;
        list-style: none; }

    .details-att li {
        float: left;
        width: 100%; }

    .details-att li span {
        font-family: 'testfont-Bold';
        font-size: 44px;
        letter-spacing: 2px;
        float: left;
        padding-right: 10px; }

    .details-att li p {
        padding-top: 21px;
        color: #041811;
        /* font-family: var(--font-raleway-serif); */
        letter-spacing: 1px;
        font-size: 12px; }

    .eng .smc-box {
        padding-left: 4%; }

    .eng .cong p {
        font-family: 'testfont-Light';
        width: 96%;
        font-size: 13px;
        line-height: 24px; }

    .eng .dp-shadezz {
        bottom: 0;
        background-color: #f3f5f0 !important;
        position: absolute;
        width: 369px !important;
        height: 0;
        right: 0; }

    .vision-mission .col-md-3 img {
        left: 41px;
        position: relative;
        top: 0;
        padding: 14px;
        z-index: 1;
        width: 39%; }

    .vision-mission .clg-sn {
        letter-spacing: 1px;
        margin-top: 16px;
        margin-left: 0;
        background-color: white;
        margin-bottom: 33px;
        margin-top: 33px;
        padding-bottom: 25px;
        padding-top: 25px; }

    .shadezsm {
        background: linear-gradient(to right, #f3f5f0 0%, white 0); }

    .vision-mission .col-md-9 {
        padding-top: 5px;
        padding-bottom: 29px;
        background-color: white; }

    .vision-mission .sm-box {
        margin: 0 auto;
        width: 89%;
        display: block;
        padding-right: 63px; }

    .arrowzz {
        position: absolute;
        float: right;
        padding: 0 !important;
        background-color: white;
        left: 96px;
        width: 2px;
        top: 29px;
        height: 985px;
        display: none; }

    .scroll-indicator {
        position: fixed;
        left: 100px;
        top: 246px;
        bottom: 85px;
        width: 1px;
        display: none; }

    .first-h {
        position: absolute;
        transform: rotate(-90deg);
        top: 29px;
        display: none;
        left: 102px; }

    .second-h {
        display: none; }

    .third-h {
        display: none; }

    .history-all {
        position: relative;
        background: linear-gradient(to right, #f3f5f0 100%, white 0%); }

    .history-all .history-width {
        width: 100%;
        padding-left: 0; }

    .history-all h5 {
        color: #d4d4d4;
        font-size: 28px;
        padding-top: 16px;
        padding-bottom: 12px;
        padding-left: 49px; }

    .second-history .sec-width {
        width: 100%; }

    .campusz .box-campus {
        width: 85%;
        margin-right: 32px;
        float: right; }

    .campusz h6 {
        line-height: 30px;
        font-size: 25px;
        padding-top: 7px;
        padding-bottom: 6px; } }
@media (max-width: 767px) {
    .details-att ul {
        padding-left: 38px;
        list-style: none; }

    .details-att li span {
        font-family: 'testfont-Bold';
        font-size: 41px;
        letter-spacing: 2px;
        float: left;
        padding-right: 10px; }

    .details-att li {
        float: left;
        width: 100%; }

    .details-att {
        background: linear-gradient(to right, #f3f5f0 100%, white 0%);
        padding-top: 16px;
        padding-bottom: 18px;
        margin-bottom: 45px; }

    .vision-mission .sm-box {
        margin: 0 auto;
        width: 86%;
        display: block;
        padding-right: 66px; }

    .vision-mission .clg-sn {
        letter-spacing: 1px;
        margin-top: 16px;
        margin-left: 0;
        background-color: white;
        margin-bottom: 33px;
        margin-top: 33px;
        padding-bottom: 25px;
        padding-top: 25px; }

    .eng .dp-shadezz {
        bottom: 0;
        background-color: #f3f5f0 !important;
        position: absolute;
        width: 0;
        height: 0 !important;
        right: 0; }

    .eng .smc-box h2 {
        position: absolute;
        float: right;
        font-size: 44px;
        color: #f3f5f0;
        right: 0;
        top: 26px;
        margin: 0;
        font-family: 'testfont-Bold';
        letter-spacing: 2px; }

    .eng .smc-box {
        padding-left: 7%; }

    .eng .cong p {
        font-family: 'testfont-Light';
        width: 96%;
        font-size: 13px;
        line-height: 24px; }

    .vision-mission .col-md-3 img {
        left: 67px;
        position: relative;
        top: 23px;
        z-index: 1;
        width: 37%; }

    .shadezsm {
        background: linear-gradient(to right, #f3f5f0 0%, white 0); }

    .arrowzz {
        position: absolute;
        float: right;
        padding: 0 !important;
        background-color: white;
        left: 96px;
        width: 2px;
        top: 29px;
        height: 985px;
        display: none; }

    .scroll-indicator {
        position: fixed;
        left: 100px;
        top: 246px;
        bottom: 85px;
        width: 1px;
        display: none; }

    .first-h {
        position: absolute;
        transform: rotate(-90deg);
        top: 29px;
        display: none;
        left: 102px; }

    .second-h {
        display: none; }

    .third-h {
        display: none; }

    .history-all {
        position: relative;
        background: linear-gradient(to right, #f3f5f0 100%, white 0%); }

    .history-all .history-width {
        width: 100%;
        padding-left: 0; }

    .history-all h5 {
        color: #d4d4d4;
        font-size: 28px;
        padding-top: 16px;
        padding-bottom: 12px;
        padding-left: 49px; }

    .second-history .sec-width {
        width: 100%; }

    .campusz .box-campus {
        width: 85%;
        margin-right: 32px;
        float: right; }

    .campusz h6 {
        line-height: 30px;
        font-size: 25px;
        padding-top: 7px;
        padding-bottom: 6px; }

    .second-history {
        padding-top: 48px;
        padding-left: 0; } }
@media (max-width: 530px) {
    .vision-mission .sm-box {
        margin: 0 auto;
        width: 89%;
        display: block;
        padding-right: 0; }

    .vision-mission .col-md-3 img {
        left: 43px;
        position: relative;
        top: 23px;
        z-index: 1;
        width: 37%; }

    .vision-mission .clg-sn h2 {
        text-align: center;
        font-family: 'testfont-Bold';
        font-size: 18px;
        letter-spacing: 1px;
        padding-top: 10px; }

    .vision-mission .clg-sn p {
        text-align: center;
        font-size: 12px; }

    .details-att li span {
        font-family: 'testfont-Bold';
        font-size: 36px;
        letter-spacing: 2px;
        float: left;
        padding-right: 10px;
        margin-bottom: 11px; }

    .details-att li p {
        padding-top: 18px;
        color: #041811;
        /* font-family: var(--font-raleway-serif); */
        letter-spacing: 1px;
        font-size: 12px; }

    .eng .smc-box h4 {
        letter-spacing: 2px;
        font-size: 16px;
        padding-top: 27px;
        float: left;
        position: relative;
        z-index: 2;
        /* font-family: var(--font-raleway-serif); */ } }
@media (max-width: 370px) {
    .details-att ul {
        padding-left: 23px;
        list-style: none; }

    .eng .smc-box h2 {
        position: absolute;
        float: right;
        font-size: 18px;
        color: #f3f5f0;
        right: 0;
        top: 26px;
        margin: 0;
        font-family: 'testfont-Bold';
        letter-spacing: 2px; }

    .eng .en-sp:nth-child(1) {
        background-color: #739d31;
        width: 50px;
        height: 2px;
        margin-top: 67px;
        position: absolute;
        margin-left: 3px; }

    .eng .en-sp {
        background-color: #739d31;
        width: 50px;
        height: 2px;
        margin-top: 99px;
        position: absolute;
        margin-left: 3px; }

    .eng .smc-box h4 {
        line-height: 26px;
        letter-spacing: 2px;
        font-size: 16px;
        padding-top: 27px;
        float: left;
        position: relative;
        z-index: 2;
        /* font-family: var(--font-raleway-serif); */ }

    .vision-mission .col-md-3 img {
        left: 32px;
        position: relative;
        top: 23px;
        z-index: 1;
        width: 56%; }

    .details-att li p {
        padding-top: 0;
        color: #041811;
        /* font-family: var(--font-raleway-serif); */
        letter-spacing: 1px;
        font-size: 12px; }

    .details-att li span {
        font-family: 'testfont-Bold';
        font-size: 36px;
        letter-spacing: 2px;
        float: none;
        padding-right: 10px;
        margin-bottom: 0px; }

    .mb {
        margin-top: 67px !important; } }

.clrz{
    display: none;
}
.home .clrz{
    display: block;
}
.zero-padding-right{
    padding-right: 0 !important;
}
.zero-padding-left{
    padding-left: 0 !important;
}
.department-staff .single-staff, .union-page .single-staff {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 17vh;
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 100%;
}
.single-staff-image-holder{
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 100%;
}
.department-staff img, .union-page .single-staff img{
    vertical-align: middle;
    width:80%;    
    margin: auto;
    display: inline-block;
    position: absolute;
}
.department-staff hr,.union-page hr{
    width: 1px;
    background-color: #739d31;
    min-height: 10vh;
    vertical-align: middle;
    display: inline-block;
    margin:1%;
    float: left;
    height: 100%;
}
.department-staff .name{
    font-weight: bold;
    color: #000;
    font-size: 99%;
}
.union-page .name{
    font-weight: bold;
    color: #000;
    font-size: 110%;
}
.union-page .info-deails h6 {
    font-size: 110%;
}
.department-staff .name a, .union-page .name a{
    color: #000 !important;
}
.department-staff .info-deails{
    padding-top: 1%;
    color: #434141;
    font-size: 89%;
    height:125px;
    
}
 .union-page .info-deails {
    padding-top: 1%;
    color: #434141;
    font-size: 100%;
    height:16vh;
    
}
.department-staff .info-deails h6, .union-page .info-deails h6{
    margin-top: 5px;
    margin-bottom:5px;
    display: flex;
    vertical-align: middle;
    height: 100%;
    align-items: center;
}
.department-staff .info-deails a,.union-page .info-deails a{
    color: #434141;
    bottom: 0px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 100%;
}
.department-staff .info-deails .footerdetails{
    bottom: 0px;
    position: absolute;
}
.union-page .info-deails .footerdetails{
    top: 50%;
    position: absolute;
}
.department-description{
    padding: 1% 1% 6% 8%;
}
@media screen and (min-width: 1367px) and (max-width: 1440px) {
    .department-description{
    padding: 0% 1% 0% 10%;
}
}
.union-page .section-title{
    width: 100%;
    clear: both;
    float: left;
    text-align: center;
    height: auto;
    font-size: 1.6em;
    padding-bottom: 2%;
    display: none;
}
.full-width-with-bg{
    width: 100%;
    background: #f3f5f0;
    padding-top: 3%;
    padding-bottom:3%;
    margin-top: 2%;
    
    
}


